<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		var pepe = $.fn.fullpage({
			slidesColor: ['whitesmoke', '#aaa', 'whitesmoke', 'whitesmoke', 'whitesmoke'],
			anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
			menu: '#menu'
		});
		
	});
</script>
  
 
  
</head>
<body>

<%= yield %>

</body>
</html>
